::selection {
    background-color: #268750;
    color: white;
  }
  
  ::-moz-selection {
    background-color: #268750;
    color: white;
  }

body{
    background-image: url('../img/hojas.jpg');
}
#global{
    background-color: white;
    box-shadow: 0px 0px 5px gray;
}
#title{
    background: #235e3d;
    color: white;
}

#menu{
    background: #333;
}

#menu ul li:hover{
    background-color: #235e3d;
}


.btn_more{
    background-color: #235e3d;
    color: white;
}

input:focus {
    outline-style: solid;
    outline-color: #235e3d;
    outline-width: 2px;
  }
