body{
    margin: 0;
    background-color: #333;
}

header{

    height: 100px;
}

#principal-container{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

form{
    border: 1px solid black;
    height: 100%;
    width: 80%;
    margin: auto;
    object-fit: contain;
    background-color: rgb(89, 89, 128);
}

fieldset{
    border: none;
}

.grid{
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-around;
    align-content: space-around;
}

.add{
    display: flex;
    flex-direction: column;
}


.add-tarea {
    background-color: #4CAF50; /* A green button */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto 20px;
    cursor: pointer;
    border-radius: 50%; /* Make it round */
    width: 50px; /* Fixed width */
    height: 50px; /* Fixed height */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease; /* Smooth transition */
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3); /* Add shadow */
  }
  
  .add-tarea:hover {
    background-color: #3e8e41; /* Darker green on hover */
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5); /* Darker shadow on hover */
  }
  
  .add-tarea img {
    width: 25px; /* Slightly larger image */
    height: auto;
    display: block; /*removes extra spacing below the image*/
  }

textarea{
    resize: none;
    border-radius: 10px;
    width: 80%;
    padding: 3px;
    height: 50px;
}

textarea:focus{
    outline: gray;
}

.delete{
    margin-left: 10px;
}

footer{
    height: 100px;
}